.eq-container {
  .eq-name {
    margin: 15px 0 15px 15px;
    font-weight: 600;
  }
  .eq-wrapper {
    .eq-flex-container {
      display: flex;
      direction: row;
      .eq-content-pq {
        color: #BDBDBD;
        font-size: 12px;
        margin-right: 20px;
      }
    }
    border: 1px solid #BDBDBD;
    padding: 30px 30px;
    .eq-container-top {
      border-bottom: 1px dashed #BDBDBD;
      .eq-top-price {
        font-weight: 700;
        color: #BDBDBD;
      }
      .eq-top-title {
  
      }
      .eq-top-subtitle {
        color: #BDBDBD;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
    .eq-container-content {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px dashed #BDBDBD;
      .eq-content-price {
        font-weight: 700;
      }
      .eq-content-title {
      }
      .eq-content-subtitle {
        color: #BDBDBD;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
    .eq-container-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
      .eq-bottom-title {
  
      }
      .eq-bottom-subtitle {
        color: #BDBDBD;
        font-style: italic;
        font-size: 13px;
        margin-bottom: 15px;
      }
      .eq-bottom-input-item {
        width: 300px;
        margin-right: 30px;
      }
      .ant-btn {
        height: 32px;
        width: 150px;
      }
    }
    .eq-wrapper-total-bottom {
      margin-top: 50px;
      background-color: #FFEBEE;
      color:#C62828;
      padding: 15px 15px;
      text-align: vertical;
      align: vertical;
      line-height: 20px;
      .eq-total-cost {
        font-size: 14px;
        font-weight: 700;
      }
      .eq-total-price {
        font-size: 17px;
        font-weight: 700;
      }
    }
    .eq-features-container {
      margin-top: 15px;
      .eq-total-cost-features {
        color: #C62828;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}