.pkg-footer-container {
  background-color: #F5F5F5;
  margin-top: 20px;
  padding: 15px 25px;
  .pkg-flex-container {
    display: flex;
    direction: row;
    justify-content: space-between;
    .pkg-footer-button-back {
      margin-right: 50px;
      .ant-btn {
        width: 340px;
      }
      
      }
      .pkg-footer-button-next {
        .ant-btn {
          width: 340px;
        }
    }
    .pkg-footer-date {
      font-weight: 700;
    }
  }
}