.app__configurator {

  .sc-field {
    padding: 24px 28px;
    background-color: #fff;
  }
  
  .sc-row-wrapper {
    background-color: #fff;
    border-radius: 5px;
  }

  .sc-content {
    padding: 24px 24px 0px;
    padding-right: 24px;
  }

  .sc-title {
    //height: 32px;
    font-family: Montserrat;
    font-size: $sc-title-size;
    color: $sc-title-color;
    line-height: 1.33;
    font-weight: bold;
    letter-spacing: normal;
    font-stretch: normal;
  }
  
  .sc-label {
    height: 48px;
    font-family: Montserrat;

    font-size: $sc-label-size;
    color: $sc-label-color;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  .sc-slider-slider {
    margin-top: 30px;
    height: 75px;
    padding-left: 13px;
    padding-right: 25px;
    background-color: #fff;
    margin: none;
    .ant-slider-dot.ant-slider-dot-active {
      background-color: #ff5252;
      border-color: #ff5252;
    }
    // .ant-slider-track {
    //   background-color: #ff5252 !important;
    // }
    // .ant-slider-step {
    //   background-color: #ff5252;
    // }
    .ant-slider-track {
      background-color: #ff5252;
  }
    .ant-slider-handle {
      border: solid 2px #ff5252 !important;
      background-color: #ff5252;
    }
  }

  .sc-slider-select {
    margin-top: 30px;
    height: 75px;
    background-color: #fff;
    margin: none;
    .ant-select.ant-select-enabled {
    }
    
  }

  .sc-mark-item {
    position: absolute;
    top: -40px;
    left: -2px;
    color: 'red'
  }

  .sc-wrapper-button {
    display: flex;
    direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
    width: 100%;
  }

}
