.form-field-row {
  margin-top: 30px;
}

.form-field {
  label, .form-label {
    font-weight: bold;
  }

  &-text {
    input{
      width: 350px;
    }
  }
  .error {
    color: red;
    label {
      color: #000;
    }
    &.active {
      input {
        background-color: #fff !important;
        border: 1px solid red !important;
      }
    }
    input, .ant-select-selection {
      border: 1px solid red !important;
      background-color: #EF9A9A !important;
    }
  }

}

.ant-btn {
  background-color: #dc3545;
  color: $white;
  border-radius: 24px;
  width: auto;
  min-width: 208px;
  font-family: Montserrat;
  height: 48px;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #9b9b9b;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}

.tooltip-field {
  i {
    font-size: 22px !important;
    background-color: none;
    color: #BDBDBD !important;
    margin-left: 10px;
    }
  }
.field-input-text {
  .description {
    font-size: 10px;
    color: #BDBDBD;
    margin-bottom: 10px;
  }
  .container {
    display: flex;
    direction: row;
    padding: 0px 0px;
  }
  .flex-container-row {
    display: flex !important;
    direction: row !important;
  }
}
.flex-row {
  display: flex;
  direction: row;
  &-justify-end {
    display: flex;
    direction: row !important;
    justify-content: end;
  }
}

.spin-align {
    text-align: center;
    font-size: 35px;
    position: relative;
    height: 300px;
}

.spin-relative {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
}

.ant-spin-dot i {
  background-color: #dc4405 !important;
}
.flex-row-justify-end {
  display: flex;
  direction: row;
  justify-content: flex-end;
}

.btn-simple {
  margin-top: 20px;
  background-color: #dc3545;
  color: $white;
  border-radius: 24px;
  width: auto;
  min-width: 208px;
  font-family: Montserrat;
  height: 48px;

}

.optional {
  color: #BDBDBD;
  margin-left: 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
}
