.app__configurator {
  background-color: #FAFAFA;
  padding: 30px 30px;
  border: 1px solid red;

  .option-card {
    width: 328px;
    height: 564px;
    //margin: 0px 60px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    text-align: center;

    .oc-top {
      height: 166px;
      background-color: #9b9b9b;
    }

    .oc-content {
      //padding: 0px 42px;
      width: 242px;
      margin: 0 auto;

      .oc-title {
        text-align: center;
        height: 34px;
        font-size: 28px;
        font-weight: bold;
        margin-top: 22px;
      }

      .oc-subtitle {
        //text-align: center;
        height: 38px;
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 42px;
      }

      .oc-items {
        //height: 300px;
        text-align: left;

        .oc-item {
          display: flex;
          direction: row;

          &-icon:before {
            content: "\E632";
            display: block;
            font-family: "anticon";
            font-size: 34px;
            font-weight: 100;
            width: 34px;
          }
          &-content {
            width: 100%;
          }
        }
      }

      .oc-price {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 46px 0px;
      }
    }

  }

  .oc-summary {
    border: 1px solid green;
    margin-top: 154px;
  }

  .sc-field {
    padding: 24px 28px;
    background-color: #fff;
  }
  
  .sc-row-wrapper {
    background-color: #fff;
    border-radius: 5px;
  }

  .sc-content {
    width: 378px;
    padding: 24px 24px;
  }

  .sc-title {
    height: 32px;
    width: 328px;
    h1 {
      font-family: Montserrat;
      font-size: $sc-title-size;
      color: $sc-title-color;
      line-height: 1.33;
      font-weight: bold;
      letter-spacing: normal;
      font-stretch: normal;
    }
  }
  
  .sc-label {
    height: 48px;
    width: 328px;
    h2 {
      font-family: Montserrat;
      font-size: $sc-label-size;
      color: $sc-label-color;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
    }
  }

  .sc-slider-slider {
    margin-top: 30px;
    height: 75px;
    width: 270px;
    padding-left: 13px;
    padding-right: 25px;
    background-color: #fff;
    margin: none;
    
  }

  .sc-slider-select {
    margin-top: 30px;
    height: 75px;
    width: 328px;
    background-color: #fff;
    margin: none;
    .ant-select.ant-select-enabled {
      width: 328px !important;
    }
  }

  .sc-mark-item {
    position: absolute;
    top: -40px;
    left: -2px;
  }

}
