.app__configurator {
  background-color: #FAFAFA;
  padding: 30px 30px;
  border: 1px solid red;

  .option-card {
    width: 328px;
    height: 564px;
    //margin: 0px 60px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    text-align: center;

    .oc-top {
      height: 166px;
      background-color: #9b9b9b;
    }

    .oc-content {
      //padding: 0px 42px;
      width: 242px;
      margin: 0 auto;

      .oc-title {
        text-align: center;
        height: 34px;
        font-size: 28px;
        font-weight: bold;
        margin-top: 22px;
      }

      .oc-subtitle {
        //text-align: center;
        height: 38px;
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 42px;
      }

      .oc-items {
        //height: 300px;
        text-align: left;

        .oc-item {
          display: flex;
          direction: row;

          &-icon:before {
            content: "\E632";
            display: block;
            font-family: "anticon";
            font-size: 34px;
            font-weight: 100;
            width: 34px;
          }
          &-content {
            width: 100%;
          }
        }
      }

      .oc-price {
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 46px 0px;
      }
    }

  }

  .oc-summary {
    border: 1px solid green;
    margin-top: 154px;
  }

}
