.dynamic-form {
  position: relative;
  &-receipt {
    width: 300px;
    position: absolute;
    top:100px;
    right: 30px;
  }
  .form-chapter-review {
    background-color: #FAFAFA;
    padding: 15px 15px;
    border: 2px solid #E0E0E0;
    .button-container {
      display: flex;
      direction: rtl;
    }
  }

}
.ant-steps-item-icon>.ant-steps-icon {
  line-height: 24px !important;
}
.ant-steps-item-icon {
  line-height: 24px;
}
