.dynamic-form {
  position: relative;
  &-receipt {
    width: 300px;
    position: absolute;
    top:100px;
    right: 30px;
  }
  .ant-steps-item-icon>.ant-steps-icon {
    line-height: 24px !important;
  }
}
