.field-boxed-checkbox-group {
  margin-bottom: 20px;
  .field-checkbox-item {
    justify-content: space-between;
    display: flex;
    direction: row;
    max-width: 411px;
    border: 1px solid #BDBDBD;
    padding: 15px 20px;
    font-size: 12px !important;
    .container-labels {
      max-width: 311px;
      .label {
      }
      .description {
        color: #BDBDBD;
        max-width: 311px;
        font-size: 11px;
        word-wrap: break-word;
      }
    }
    .field {
      margin-left: 15px;
      display: flex !important;
      align-items: center !important;
      margin-left: 15px;
    }
  }
}
