.field-boxed-checkbox {
  border: 1px solid #BDBDBD;
  padding: 15px 20px;
  font-size: 12px !important;
  display: flex;
  direction: row;
  max-width: 411px;
  justify-content: space-between;
  margin-bottom: 15px;
  .help {
    color: #BDBDBD;
    max-width: 330px;
    font-size: 11px;
    word-wrap: break-word;
  }
  //&-container-titles {
  //  display: flex;
  //  direction: column;
  //}
  .field {

    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}
