.bxd-radio-container {
  padding: 0px 20px;
  border: 1px solid #BDBDBD;
  display: flex;
  direction: row;
  &-field {
    display: flex;
    height: 80px;
    align-items: center;
  }
  .bxd-container-titles {
    .bxd-radio-label {
      font-size: 12px;
      display:flex;
      direction: row;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .bxd-radio-label2 {
      color: #BDBDBD;
      max-width: 330px;
      font-size: 11px;
    }
  }
    .bxd-radio-input {
      margin-left: 15px;
    }
}
