.container-loading-page {
  padding: 200px;

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .description {
    text-align: center;
    margin-bottom: 15px;
  }
  .loader {
    position: relative;
    .spin-align {
      .ant-spin.ant-spin-lg.ant-spin-spinning.spin-relative {
        position: absolute;
        top: 0px !important;
        left: 50% !important;
      }
    }
  }
}
