.steps-pop-wrapper {
  padding: 30px 30px;
  border: 1px solid #BDBDBD;
  .steps-btn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .steps-app-name {
    font-weight: 700;
    margin-bottom: 40px;
  }
  .sf-container {
    .field-step-link {
      color: #BDBDBD;
      transition: 0.5s ease;
      &:hover {
        text-decoration: none;
        color: #9E9E9E;
      }
    }
    .ant-steps-item-wait {
      .ant-steps-item-icon {
        background-color: #fff!important;
        border: 1px solid #BDBDBD;
      }
      .ant-steps-item-title {
        font-size: 12px;
        width: 100%;
        color: #000;
        font-weight: 500;
      }
    }
    .ant-steps-item-finish {
      a {
        font-size: 12px !important;
        font-weight: 600;
      }
      .ant-steps-item-icon {
        background-color: #BDBDBD !important;
        border: 1px solid #BDBDBD;
        .ant-steps-icon {
          line-height: 24px;
        }
        .anticon-check {
          color: #FFFFFF !important;
        }
      }
      .ant-steps-item-tail {
        &:after {
          background-color: #BDBDBD;
        }
      }
    }
    .ant-steps-item-process {
      .ant-steps-item-content {
        height: 30px;
        .ant-steps-item-title {
          font-size: 12px;
          border-bottom: 1px solid #BDBDBD;
          width: 100%;
        }
      }
      .ant-steps-item-icon {
        border: 2px solid #9E9E9E;
        background-color: #fff!important;
        .ant-steps-icon {
          line-height: 24px !important;
          color: #BDBDBD;
        }
      }
    }
  }
}
