.field-main-title {
  .title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .subtitle {
    font-size: 14px;
  }
}

.field-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
