
  .read-chapter-form {
    margin-bottom: 5px;
    background-color: #BDBDBD;
    .read-field-row-container {
      padding: 10px 15px;
      .form-field-row-read {
        font-size: 14px;
        .label {
          font-weight: 600;
        }
        .value {
          margin-left: 5px;
        }
      }
      .form-field-row-read-title {
        margin-bottom: 10px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 14px;
      }
      .chapter-title {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 900;
      }
    }
    .edit-button {
      border-top: 1px solid #FFFFFF;
      button {
        width: 100%;
        padding: 0px 0px;
        height: 100%;
        background-color: #BDBDBD;
        border-radius: 0px;
        border: none;
        padding: 5px;
        font-weight: 400;
        text-align: center;
        &:hover {
          overflow: hidden;
          outline: none;
          border: none;
          transition: 1s ease;
          background-color: #9E9E9E;
          color: #fff;
        }
      }
    }
  }

